[package]
name = "sha3-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
bytemuck.workspace = true
thiserror.workspace = true

